<% provide(:title, "About Us") %>
  <h1>About Us</h1>
  <section class="container">
  	<div class="row">
				<div class="col-sm-6 col-md-6">
					<h2>Our Story</h2>
						<p>Scott Malcolm founded Redwood in 2011 after a career at Procter &amp Gamble and Blackberry. The competiveness and learning of the corporate world thrilled, but he always had been drawn to start his own business in an area in which he could make a big impact. Scott became very interested in character development, and lamented the lack of structured inquires schools and organizations provided in this area. Scott left his job and spent six months researching and building a product specifically. This became the Redwood Project.</p> 

						<p>We now have a great team and growing list of Redwood advocates with exceptional stories about the impact Redwood has had on their lives. As the organization grows the team is excited to continue to share the experience and push more people to Grow Big.</p>			
				</div>
		</div>

  	<div class="row">
				<div class="col-sm-6 col-sm-offset-6">
					<h2>Our Mission</h2>
						<p>Redwood drives people to become strong, successful leaders. We do this by sharing a wealth of material proven to increase awareness, resiliency, connection, and engagement. Our workshops will expose people to the building blocks of a fulfilled life by having them
						articulate the people, passions, and ambitions that matter most. They will then go on to impact the organizations they are a part of in powerful and sustainable ways.</p>			
				</div>
		</div>

  	<div class="row">
				<div class="col-sm-6 col-md-6">
					<h2>Our People</h2>
						<p>The Redwood Braintrust is a collection of exceptional people from a wide array of backgrounds. Their talents, experiences and commitment have been poured in to their work with Redwood.</p>
				</div>
		</div>	
		<div class="our-team row">
			<div class="col-sm-4">
				<div class="">
					<figure class="profile-pic"> 
							<img src="images/team/scott.jpg" alt=""> <!-- MEMBER PROFILE PIC -->
					</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-btm">Scott Malcolm</h5>
					<div class="position">
						Founder
					</div> 
				</div>

				<div class="details">
					<p>
						<strong>Scott</strong> has a way of exciting the people around him. It is a skill that was called on to start Redwood and now fuels every Redwood session. Scott is driven to create memorable experiences and share the Redwood material with people everywhere. 
						<br></br>
						<strong>Why Redwood is important:</strong><br> In Redwood people have the opportunity to take stock of what makes them strongest and deliberately bring it to the world. What could be more important than that?
			 	<div class="social-icons">
					 <ul>
						<li><a href="https://twitter.com/RedwoodProject"><i class="icon-twitter-alt"></i></a></li>
						<li><a href="http://ca.linkedin.com/pub/scott-m-malcolm/25/785/1b7"><i class="icon-linkedin"></i></a></li>
					</ul> 
				</div>
					</p>
				</div>
			</div>
		</div>
		<!-- / END MEMBER -->
		
		<div class="col-sm-4">
			<div class="">
				<div class="member-details">
					<h5 class="dark-text red-border-btm">Dasha Peregoudova</h5>
					 <div class="position">
							Facilitator
					</div> 
				</div>

				<div class="details">
					<p>
						<strong>Dasha</strong> is a gifted athlete, thinker and mentor. As an internationally ranked Tae-Kwon-Do champion she traveled the world, winning two gold medals at the Pan-Am Games. She studied psychology and mental health at the University of Toronto and currently attends Western law school. 
						<br></br>
						<strong>Why Redwood is important:</strong><br> You will learn new things about yourself and apply them in game changing ways, guaranteed. What I love is that you’re very much expected and encouraged to interact with others and the world in a healthy, empowered way. This comes naturally with a Redwood toolkit in your pocket.
		 		<div class="social-icons">
					<ul>
						<li><a href="http://ca.linkedin.com/in/dperegoudova"><i class="icon-linkedin"></i></a></li>
					</ul> 
				</div> 
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="">
				<figure class="profile-pic">
				<img src="images/team/jordan.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-btm">Jordan Walker</h5>
 					<div class="position">
						Senior Facilitator
					</div> 
				</div>

					<div class="details">
					<p>
						As a senior facilitator, &nbsp<strong>Jordan</strong> uses his intelligence and perception to create environments that maximize learning. Jordan attended the University of Southern California on a tennis scholarship, followed his father and grandfather’s footsteps into pre-med and then made the bold decision upon graduation to instead follow a passion in to filmmaking. He has written and produced 3 feature length films. 
							<br></br>
						<strong>Why Redwood is important:</strong><br> Think about what it would be like to focus and act on the things that are most meaningful to you and you’ll know exactly why Redwood is important. 
 				<div class="social-icons">
 					<ul>
						<li><a href="http://ca.linkedin.com/pub/jordan-walker/51/70a/932"><i class="icon-linkedin"></i></a></li>
					</ul> 
				</div> 
					</p>
				</div>
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="">
				<figure class="profile-pic">
				<img src="images/team/oliver.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-btm">Oliver Moorhouse</h5>
 					<div class="position">
						Business Manager
					</div> 
				</div>

				<div class="details">
					<p>
						<strong>Oliver</strong>  is the behind the scenes engine that allows Redwood to navigate the trials of running a start-up with (much greater) deftness and confidence. Having successfully built a company as a founding partner of Trioro Inc, an internet and software solutions company, he speaks with conviction and advises through experience. His insights, sincerity and generosity consistently inspire. 
							<br></br>
						<strong>Why Redwood is important:</strong><br> We all have just one life to live. When you sit back and actually take that in, you realize how important character is to living well. Redwood builds character. 
 				<div class="social-icons">
			 		<ul>
						<li><a href="http://ca.linkedin.com/in/olivermoorhouse"><i class="icon-linkedin"></i></a></li>
					</ul> 
				</div> 
					</p>
				</div> 
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="">
				<figure class="profile-pic">
				<img src="images/team/dana.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-btm">Dana Brown</h5>
 					<div class="position">
						Senior Facilitator
					</div> 
				</div>

					<div class="details">
					<p>
						<strong>Dana</strong> operates at a high level and constantly elevates the output of those with whom she works. Over a 13-year career at Procter & Gamble, Dana has held a series of demanding and high profile marketing and PR roles. Her monumental energy and expertise make her a sought after Redwood facilitator. 
							<br></br>
						<strong>Why Redwood is important:</strong><br> So few people are really encouraged to find out what makes them truly powerful. Redwood does this and then goes far beyond. Imagine articulating and actioning this power and you’ll know why people love Redwood. 
					<div class="social-icons">
		 				<ul>
							<li><a href="http://www.linkedin.com/pub/dana-brown/12/138/991"><i class="icon-linkedin"></i></a></li>
						</ul> 
					</div> 
					</p>
				</div> 
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="">
				<figure class="profile-pic">
				<img src="images/team/david.jpg" alt="">
				</figure>
				<div class="member-details">
					<h5 class="dark-text red-border-btm">David Guida</h5>
 					<div class="position">
						Technology Developer
					</div> 
				</div>

					<div class="details">
					<p>
						Imagine combining a passionate educator, gifted programmer and perceptive artist and you will get a sense of <strong>David’s</strong> talents. His curiosity and drive push him to find solutions others have missed and he meets enormous challenges head on, with a smile.  He is a huge contributor to the team and a big part of Redwood future success.  
							<br></br>
						<strong>Why Redwood is important:</strong><br> As a teacher, I find few young people who have considered their paths beyond vague platitudes like, "live each day to the fullest." The Redwood Path gives young people a meaningful, sophisticated compass for how to live.
					</p>
				</div> 
			</div>
		</div>
		
			</div>
		</div>
	</div>	
</section>