<% provide(:title, "Business") %>

  <div class="container">
    <div class="col-sm-12">
      <h1>Building Engagement</h1>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <ul class="">
          <li>List</li>
          <li>List</li>
          <li>List</li>
          <li>List</li>
        </ul>
      </div>
      
      <div class="col-sm-6">
        <ul class="">
          <li>List</li>
          <li>List</li>
          <li>List</li>
          <li>List</li>
        </ul>
      </div>

    </div>
  </div>
