<section class="landing">
	<div class="center hero-unit">
	  	<h1><%= link_to "growBig", signup_path, class: "" %></h1>
	  	<h2>Redwood Project for</h2>

	  <%= link_to "Schools", signup_path, class: "btn btn-large btn-primary" %>
	  <%= link_to "Businesses", signup_path, class: "btn btn-large btn-primary" %>
	  <%= link_to "Individuals", signup_path, class: "btn btn-large btn-primary" %>    
	</div>
	
	<div class="container">
		<div class="row">	
			<div class="col-sm-12">
				<h3> 
					  A framework of specific challenges and interactive personal inquiries designed to foster essential leadership skills.
				</h3>
			</div>
		</div>
	</div>
</section>
	<div class="container">
		<div class="row">	
			<div class="col-sm-6 col-sm-offset-3 center">
				<h3>Character &amp Values Forum</h3>
					<p> Our main product is a highly customized series of workshops designed to foster excellent leadership. The workshop addresses specific needs by building the essential characteristics shared among great leaders. Unique challenges and inquires develop the individual and group <i>at the same time</i>, which then influence the broader culture of the school or organization at large. Completed in half-day, full-day or 3 month engagements the results are proven and the advocates vocal.</p> 
			</div>
		</div>
		<div class="container">
		<div class="row">	
			<div class="col-sm-5 center">
				<h3>Speaking</h3>
					<p>Since launching the business, Redwood’s team of leaders has helped people live more meaningful and fulfilled lives. Drawing on their comprehensive research and first-hand insight, they share Redwood’s collection of tools and relate stories and ideas that are sometimes hilarious, sometimes poignant, and always original. Ask one of our leaders to speak at your next conference, off-site or assembly. </p> 
			</div>
			<div class="col-sm-5 col-sm-offset-1 center">
				<h3>1-on-1 Mentoring &amp Coaching</h3>
							<p>Working directly with Managing Director Scott Malcolm is an effective and intensive experience. Meeting the individual at whatever point they may be, Redwood’s unique tools and challenges are deployed to drastically and measurably improve fulfillment, performance and personal relationships. Goals are laid out, challenges made and action taken. Conducted over 6 or 12 one-hour sessions.</p> 
			</div>			
		</div>		
	</div>

	<section class="separator">
		<div class="heroOverlayer">
			<h2>Proven concepts.<br>Expert facilitation. <br>Practical Application. </h2>
		</div>
	</section>

	<div class="container">
		<div class="row">
			<h2 class="center">Project Benefits</h2>
				<div class="col-sm-6">
					<h4>Awareness</h4>
					<p>Effective prioritization and consistent progress comes from a clear understanding of what matters to you. Redwood creates an opportunity to precisely articulate your priorities as well as the decisions required to bring them to life.</p>
				</div>
				<div class="col-sm-6">
					<h4>Connection</h4>
					<p>Renew your commitment to manage and improve relationships – especially the important or difficult ones. Whether it is nuanced inter-personal relationships with co-workers, or the all-encompassing parent-child team, your Redwood relationship work involves assessment, action and improvement. Teams will be united by championing common goals and building mutual understanding.</p>
				</div>	
		</div>

		<div class="row">
				<div class="col-sm-6">
					<h4>Accountability</h4>
					<p>Redwood will push you to make choices that hold yourself to a higher standard. You will become accountable to the priorities you have announced. Redwood will create a community of people who will champion your accomplishments, and hold you responsible to your commitments.</p>
				</div>
				<div class="col-sm-6">
					<h4>Resiliency</h4>
					<p>Not only is it impossible to live a life without setbacks frustration and failure, we wouldn’t want it anyway. Redwood provides tools for you to rebound quickly from setbacks by managing the internal dialogues that play in your head.</p>
				</div>	
		</div>	

		<div class="row">
				<div class="col-sm-6">
					<h4>Fulfillment</h4>
					<p>By aligning your values with your actions, you take control of your life with simple but rigorous strategies. This allows you to take ownership of what matters to you and open a world of options.</p>
				</div>
				<div class="col-sm-6">
					<h4>Engagement</h4>
					<p>Once you have articulated the personal elements that define you, a customized plan to deploy these elements in targeted, tactical ways is created. Engagement with your own emotions, goals, family, team and objectives is a direct result of this Action Plan.</p>
				</div>	
		</div>		
	</div>

	<!-- =========================
   TESTIMONIAL        
============================== -->


<section class="testimonial" id="testimonials">
<div class="container">
	  
	  <!-- SECTION HEADER -->
        <div class="section-header">
		
		<!-- SECTION TITLE -->
		<h2 class="dark-text dark-border-bottom">Redwood Success Stories&nbsp<i class="icon-bubble-1-1"></i></h2>
<!-- 			<img src="images/icons/chat.svg"/>	 -->

		<!-- SHORT DESCRIPTION ABOUT THE SECTION -->
		<h6 class="white-text"> 
		</h6>
	</div>
	<!-- / END SECTION HEADER -->
	
	<!-- Testimonial FEEDBACK -->
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div id="testimonials" class="">
				<div class="feedback-box">
					<div class="">Every session, every activity, created a heightened sense of teamwork between us and improved our performances academically, athletically and socially. Very rarely in our busy school routines do we as students commit the time needed to really appreciate all that is going on in our lives. In addition to clearly articulating what I bring to the table and taking risks and pushing myself in ways I never would have otherwise this project taught me that every conversation is an opportunity to learn something new about someone. Our time at Redwood was such an incredible bonding experience.</div>
					<div class="Testimonial">
						<div class="quote">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="Testimonial-info">
							<a class="Testimonial-name" href="">Alexander Cupillari</a>
							<div class="Testimonial-company">
								 IB1
							</div>
						</div>
						<div class="Testimonial-image hidden-xs">
							<img src="assets/hand-drawn-icons/Rocket.svg" alt="">
						</div>
					</div>
				</div>
				<div class="feedback-box">
					<div class="message">
						 We have seen the tangible, profound benefits in taking a ‘step back’ from the crazy pace of school and investing time to examine questions fundamental to how one lives well. Three of our children have now gone through the program and from the quality of conversations around our dinner table to the personal focus, the outcomes and impact continue to amaze.
					</div>
					<div class="Testimonial">
						<div class="quote">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="Testimonial-info">
							<a class="Testimonial-name" href="">Margot Willoughby</a>
							<div class="Testimonial-company">
								 Parent
							</div>
						</div>
						<div class="Testimonial-image hidden-xs">
							<img src="assets/hand-drawn-icons/megaphone.svg" alt="">
						</div>
					</div>
				</div>
				<div class="feedback-box">
					<div class="message">I was thrilled with the results and after seeing the individual and collective impact of our boys at UCC I can not encourage you strongly enough to bring Redwood to your school. You’ll be glad you did.
					</div>
					<div class="Testimonial">
						<div class="quote">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="Testimonial-info">
							<a class="Testimonial-name" href="">Grant Boyd</a>
							<div class="Testimonial-company">
								 School Official
							</div>
						</div>
						<div class="Testimonial-image hidden-xs">
							<img src="assets/hand-drawn-icons/graduate.svg" alt="">
						</div>
					</div>
				</div>
				<!-- SINGLE FEEDBACK BOX-->
				<div class="feedback-box">
					<!-- MESSAGE OF THE Testimonial -->
					<div class="message">
						Redwood’s solutions are well suited to my team. Clear, engaging, practical and focused, the team delivers something fresh and essential from which every business and brand can benefit. I’m looking forward to working with them more.
					</div>
					
					<!-- Testimonial INFORMATION -->
					<div class="Testimonial">
						<div class="quote">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="Testimonial-info">
							<a class="Testimonial-name" href="">Drew Phillips</a> 
							<div class="Testimonial-company">
								Category Marketing Mgr.
							</div>
						</div>
						<div class="Testimonial-image hidden-xs">
							<img src="assets/hand-drawn-icons/business-man.svg" alt="">
						</div>
					</div> <!-- / END Testimonial INFORMATION-->
				</div> <!-- / END SINGLE FEEDBACK BOX-->
				<div class="feedback-box">
					<div class="message">
						 When I first heard about the Redwood Project, I thought it was just another lame team-building. However, by the end of the first day I realized how wrong I was – I was immersed in an atmosphere unlike anything I have ever done.</div>
					<div class="Testimonial">
						<div class="quote">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="Testimonial-info">
							<a class="Testimonial-name" href="">Sean Hacker-Temper</a>
							<div class="Testimonial-company">
								 IB2 (Grade 12)
							</div>
						</div>
						<div class="Testimonial-image hidden-xs">
							<img src="assets/hand-drawn-icons/Rocket.svg" alt="">
						</div>
					</div>
				</div>
				<div class="feedback-box">
					<div class="message-long">
						 What has struck me most about my son’s participation in Redwood is it enabled our son Sash to confidently make some of the most important choices in his life, such as what university he chose to attend this fall. What has become clear is that he now knows exactly what he values. What’s more is he is making choices and setting priorities that reflect those values. His family comes first, followed by his commitment to school and then sports. We believe we have Redwood to thank for this.
						 <br></br>
						 <br></br>
					</div>
					<div class="Testimonial">
						<div class="quote">
							<i class="icon-fontawesome-webfont-294"></i>
						</div>
						<div class="Testimonial-info">
							<a class="Testimonial-name" href="">Jay Malowany</a>
							<div class="Testimonial-company">
								 Parent
							</div>
						</div>
						<div class="Testimonial-image hidden-xs">
							<img src="assets/hand-drawn-icons/megaphone.svg" alt="">
						</div>
					</div>
				</div>
			</div> <!-- / END FEEDBACK-->
		</div> <!-- / END COLUMN -->
	</div> <!-- / END ROW -->

</div> <!-- / END CONTAINER -->
</section> <!-- / END TESTIMONIAL SECTION -->