@import url('//fonts.googleapis.com/css?family=Lato:300,400,700,900');

$font-thin: 300; 
$primary-font: 'Lato', sans-serif;
$open-sans-regular: 'Lato', sans-serif;
$lato: 'Lato', sans-serif;

$darkgrey: #404040;
$medgrey: #808080;
$lightgrey: #eeeeee;
$red: #cd512b;
$red2: rgba(205, 81, 43, 0.9);
$teal: #bcb1b7;
$teal2: rgba(118,177,183,0.9);
$yellow: #b1be23;
$yellow2: rgba(177,190,35, 0.9);
$white: #fff;
$black: #404040;
$clear: rgba(0,0,0,0);

// Font Settingss
$light: 300;
$heavy: 700;
$regular: 400;

$primary-font: 'Lato';

$spacer: 1.5em; 
$letter-spacing: 0.1em;
$fast: color 0.1s ease;
