// Background color for the top bar
$red-transp: rgba(232,110, 52, 0.9); //#e76e33 
$blue-transp:rgba(134, 196, 208, 0.9); //#85c3cf
$yellow-transp: rgba(194, 203, 32, 0.9); //#c2ca20
$white-transp: rgba(255,255,255,0.8);
$clear: rgba(0,0,0,0);

$red: #e76e33;
$blue: #85c3cf;
$yellow: #c2ca20;
$white: #ffffff;

$topbar-bg-color: $white-transp !default;
$topbar-bg: $topbar-bg-color !default;

$topbar-dropdown-toggle-size: 5px !default;
$topbar-dropdown-toggle-color: $red;
$topbar-dropdown-toggle-alpha: 0.4 !default;

// Height and margin
$topbar-height: 45px !default;
$topbar-margin-bottom: 0 !default;

// Transitions and breakpoint styles
$topbar-transition-speed: 300ms !default;

// Set the link colors and styles for top-level nav
$topbar-link-color: $red !default;
$topbar-link-color-hover: $red !default;
$topbar-link-color-active: $red !default;
$topbar-link-color-active-hover: $red !default;
$topbar-link-bg-active: $white-transp !default;
$topbar-link-bg-active-hover: scale-color($white-transp, $lightness: -14%) !default;
$topbar-link-hover-lightness: -10% !default; // Darken by 10%

$topbar-link-bg: $topbar-bg !default;
$topbar-link-bg-hover: $white-transp !default;
$topbar-link-bg-color-hover: $white-transp !default;
$topbar-link-bg-active: $white-transp !default;

// Top menu icon styles
$topbar-menu-link-color: $red !default;
$topbar-menu-icon-color: $red !default;


// Style the top bar dropdown elements
$topbar-dropdown-bg: $clear !default;
$topbar-dropdown-link-color: $clear !default;
$topbar-dropdown-link-bg: $clear !default;
$topbar-dropdown-toggle-size: 5px !default;
$topbar-dropdown-toggle-color: $white !default;
$topbar-dropdown-toggle-alpha: 0.4 !default;


$magellan-bg: $white-transp;
$magellan-padding: 0 !important;

