
$red: rgba(232,110, 52, 0.9); //#e76e33 
// Background color for the top bar
$topbar-bg-color: $red !default;
$topbar-bg: $topbar-bg-color !default;

// Height and margin
$topbar-height: 45px !default;
$topbar-margin-bottom: 0 !default;