/* mixins, variables, etc. */
@import url('//bourbon.io/');
@import url('//fonts.googleapis.com/css?family=Quicksand:300,400,700');
@import url('//fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700');
@import url('//fonts.googleapis.com/css?family=Lato:300,400,700,900');



body {
  font-family: 'Quicksand', serif;
}


$font-thin: 300; 
$primary-font: 'Lato';
$qs-regular: 'Quicksand';
$qs-light: 'Quicksand';
$qs-bold: 'Quicksand';  
$open-sans-regular: 'Open Sans';
$lato: 'Lato';

$light: 300;
$heavy: 700;
$regular: 400;

$primary-font: 'Lato';
$qs-regular: 'Quicksand';
$qs-light: 'Quicksand';
$qs-bold: 'Quicksand';  

$red-transp: rgba(232,110, 52, 0.9); //#e76e33 
$blue-transp:rgba(134, 196, 208, 0.9); //#85c3cf
$yellow-transp: rgba(194, 203, 32, 0.9); //#c2ca20

$red: #e76e33;
$blue: #85c3cf;
$yellow: #c2ca20;
$white: #fff;
$black: #404040;
$clear: rgba(0,0,0,0);

$transpgray: rgba(0,0,0,0.7);


$space: 2.7em; 
$fast: color 0.1s ease;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin selection {
  background: #404040;
  color: #FFF;  
}

@mixin transition($fast) {
  -webkit-transition: $fast;
  -moz-transition: $fast;
  -ms-transition: $fast;
  -o-transition: $fast;
  transition: $fast;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: $primary-font, sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;  
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: $space;
  text-align: justify;
}
a {
  text-decoration: none;
  color:$red;
  font-weight: 300;
  &:hover {
    text-decoration: none;
    color: $yellow;
  }
}


/* Headers Styles */

.header {
  color: $white;
  font-family: $qs-bold;
  font-weight: $regular;
  padding: 20px;
}
.link {

}



/* header */

#logo {
  float: left;
  margin-right: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  &:hover {
    opacity: 0.8;
    @include transition($fast);
  }
}



.top-bar-section .right a {
  border: none;
  background: $clear;
  font-weight: $light;
  font-family: $qs-regular;
  font-weight: $light;  
}

.top-bar {
  li a {
    color: white;
    font-weight: $light;
    font-family: $qs-regular;
    font-weight: $light;
    @include transition($fast);
    &:hover {
      color: $red;
    }
  }
 .dropdown-menu {
 } 
}

.navbar-btn {
  color: $white;
  padding: 10px;
  line-height: $space;
  font-family: $qs-regular;
  font-weight: $light;
  @include transition($fast);
  &:hover{
    @include opacity(0.8);
  }
}
#middle {
  border-left: 3px solid $white;
  border-right: 3px solid $white;
}

.landing {
  position: relative;
  overflow: hidden;
  height: 100%;
  background-repeat: no-repeat no-repeat;
  background-position: 0 0;
  background-color: $transpgray;
  // background-image: url(image-path('redwoods.jpg'));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $red;
  a {
    color: gray;
    &:hover {
      color: gray;
    }
  }
  small {
    float: left;
  }
  ul {
    margin: 1em 0;
    float: right;
    list-style: none;
    li {
      margin-left: 15px;
      display: block;
    }
  }
}

.socialIcon {
  float: left;
  img{
    width: 4em;
  }
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: $state-danger-text;
//   }
// }
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/*~~~~~TIMELINE ~~~*/

// colors
$link: #acb7c0; // anchor tags
$main-text: #7f8c97; // main text

// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// breakpoints
   
$S:     320px;   
$M:     768px;     
$L:     1170px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing;
}


a {
  color: $link;
  text-decoration: none;
}

img {
  max-width: 100%;
}


/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */


.cd-timeline {
  font-family: $qs-regular;
}
.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: $L; // breakpoints inside partials > _layout.scss
  margin: 0 auto;

  &::after { /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
}

/* -------------------------------- 

Main components 

-------------------------------- */

header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: $blue;

  h1 {
    color: $black;
    @include font-size(18px);
  }

  @include MQ(L) {
    height: 300px;
    line-height: 300px;

    h1 {
      @include font-size(24px);
    }
  }
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin: {
    top: 2em;
    bottom: 2em;
  }

  &::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background-color: $blue;
  }

  @include MQ(L) {
    margin: {
      top: 3em;
      bottom: 3em;
    }

    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
}

.cd-timeline-block {
  position: relative;
  @include clearfix;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include MQ(L) {

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px $red, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;

  img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }

  &.cd-picture {
    background: $yellow;
  }

  &.cd-movie {
    background: $red;
  }

  &.cd-location {
    background: $blue;
  }

  @include MQ(L) {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;

    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

    .cssanimations &.is-hidden {
      visibility: hidden;
    }

    .cssanimations &.bounce-in {
      visibility: visible;
      @include animation(cd-bounce-1 .6s);
    }
  }
}

@include keyframes(cd-bounce-1) {
  0% {
    opacity: 0;
    @include transform(scale(.5));
  }

  60% {
    opacity: 1;
    @include transform(scale(1.2));
  }

  100% {
    @include transform(scale(1));
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  @include border-radius;
  padding: 1em;
  @include clearfix;

  h2 {
    color: $blue;
  }

  p, .cd-read-more, .cd-date {
    @include font-size(13px);
  }

  .cd-read-more, .cd-date {
    display: inline-block;
  }

  p {
    margin: 1em 0;
    line-height: 1.6;
  }

  .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: $link;
    color: $red;
    @include border-radius;

    .no-touch &:hover {
      // background-color: lighten($link, 5%);
    }
  }

  .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
  }

  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 16px;
  //   right: 100%;
  //   height: 0;
  //   width: 0;
  //   border: 7px solid transparent;
  //   border-right: 7px solid $blue;
  // }

  @include MQ(M) {
    h2 {
      @include font-size(20px);
    }

    p {
      @include font-size(16px);
    }

    .cd-read-more, .cd-date {
      @include font-size(14px);
    }
  }

  @include MQ(L) {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;

    &::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: $red;
    }

    .cd-read-more {
      float: left;
    }

    .cd-date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
      @include font-size(16px);
    }

    .cd-timeline-block:nth-child(even) & {
      float: right;

      &::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: $black;
      }

      .cd-read-more {
        float: right;
      }

      .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
      }
    }

    .cssanimations &.is-hidden {
      visibility: hidden;
    }

    .cssanimations &.bounce-in {
      visibility: visible;
      @include animation(cd-bounce-2 .6s);
    }
  }
}

@include MQ(L) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    @include animation(cd-bounce-2-inverse .6s);
  }
}

@include keyframes(cd-bounce-2) {
  0% {
    opacity: 0;
    @include transform(translateX(-100px));
  }

  60% {
    opacity: 1;
    @include transform(translateX(20px));
  }

  100% {
    @include transform(translateX(0));
  }
}

@include keyframes(cd-bounce-2-inverse) {
  0% {
    opacity: 0;
    @include transform(translateX(100px));
  }

  60% {
    opacity: 1;
    @include transform(translateX(-20px));
  }

  100% {
    @include transform(translateX(0));
  }
}


// colors

$main-text: $white; // main text
$link: #6cac70; // anchor tags
$background: $white; // body background color

$color-1: $red; // green dark
$color-2: $blue; // green darker
$color-3: $white; // green light

// fonts 

$primary-font: $lato;

// z-index 

$secondary-nav: 1;
$content-zindex: 2;
$header-zindex: 3;

// header height 

$header-S: 50px;
$header-M: 70px;

// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// breakpoints

$S:     320px;   
$M:     768px;     
$L:     1170px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}



/* -------------------------------- 

Primary style

-------------------------------- */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  @include box-sizing;
}

html, body {
  /* you need to set this to assign to the main element a min height of 100% */
  height: 100%;
}

body {
  font: {
    size: 100%;
    family: $primary-font; // variables inside partials > _variables.scss
  }
  color: $main-text;
  background-color: $background;
}

a {
  color: $link;
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-img-replace { /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

/* -------------------------------- 

Main components 

-------------------------------- */

.cd-main-content {
  /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
  min-height: 100%;
  position: relative;
  background-color: $background;
  z-index: $content-zindex;
  
  //we assign a top padding since the header is in position absolute or fixed
  padding-top: $header-S;

  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  @include transition-property(transform);
  @include transition-duration(.4s);

  &.lateral-menu-is-open {
    /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
    @include transform(translateX(-260px));
  }

  @include MQ(M) {
    padding-top: $header-M;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  height: $header-S;
  width: 100%;
  background: $color-1;
  z-index: $header-zindex;

  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  @include transition-property(transform);
  @include transition-duration(.4s);

  &.lateral-menu-is-open {
    /* translate to show the lateral menu */
    @include transform(translateX(-260px));
  }
  
  //assign this class to the header if you want a fixed navigation
  &.is-fixed {
    position: fixed;
  }

  @include MQ(M) {
    height: $header-M;
  }
}

#cd-logo {
  display: block;
  float: left;
  margin: 12px 0 0 20px;

  img {
    display: block;
  }

  @include MQ(M) {
    margin: 22px 0 0 30px;
  }
}

#cd-top-nav {
  position: absolute;
  top: 0;
  right: 120px;
  height: 100%;

  display: none;

  ul {
    height: 100%;
    padding-top: 18px;
  }

  li {
    display: inline-block;
    margin-right: 1em;
  }

  a {
    display: inline-block;
    padding: .5em;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;

    &.current {
      background-color: $color-2;
    }

    .no-touch &:hover {
      color: rgba(#FFF, .7);
    }
  }

  @include MQ(M) {
    display: block;
  }
}

#cd-menu-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: lighten($color-1, 10%);

  .cd-menu-text {
    height: 100%;

    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;

    display: none;
  }

  .cd-menu-icon {
    /* this span is the central line in the menu menu */
    display: inline-block;
    position: absolute;
    @include center; // mixin inside partials > _mixings.scss
    width: 18px;
    height: 2px;
    background-color: #FFF;
    
    /* these are the upper and lower lines in the menu menu */
    &::before, &:after {
      content: '';
      width: 100%;
      height: 100%; 
      position: absolute;
      background-color: inherit;
      left: 0;
    }
    
    &::before {
      bottom: 5px;
    }

    &::after {
      top: 5px;
    }
  }

  &.is-clicked {
    .cd-menu-icon {
      background-color: rgba(#FFF, 0);

      &::before, &::after {
        background-color: rgba(#FFF, 1);
      }

      &::before {
        bottom: 0;
        @include transform(rotate(45deg));
      }

      &::after {
        top: 0;
        @include transform(rotate(-45deg));
      }
    }
  }

  @include MQ(M) {
    width: 110px;
    padding-left: 1.25em;

    .cd-menu-text {
      display: inline-block;
      line-height: $header-M;
    }

    .cd-menu-icon {
      left: auto;
      right: 1.25em;
      @include transform(translateX(0));
    }
  }
}

#cd-lateral-nav {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  visibility: hidden;

  /* the secondary navigation is covered by the main element */
  z-index: $secondary-nav; // see partials > _variables.scss

  width: 260px;
  background-color: $color-2;

  overflow-y: auto;

  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;

  -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
  transition: transform .4s 0s, visibility 0s .4s;

  /* this creates the subtle slide in animation of the navigation */
  @include transform(translateX(80px));

  .cd-navigation {
    margin: 10px 0 16px;
  }

  .sub-menu {
    padding: 0 10px 20px 15px;
    display: none;
  }

  a {
    display: block;
    line-height: 2em;
    padding: 0 16px 0 32px;
    color: $color-3;

    &.current {
      background-color: lighten($color-2, 10%);
      color: #FFF;
    }

    .no-touch &:hover {
      color: #FFF;
    }
  } 

  @include MQ(M) {
    .cd-navigation {
      margin: 20px 0;
    }
  }

  &.lateral-menu-is-open {
    @include transform(translateX(0));
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s;

    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch;
  }
}


/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;

  /* this is the right arrow to show that the item has a submenu  */
  &::after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    @include center(y);
    right: 1em;
    background: url('../img/cd-arrow.svg') no-repeat center center;
    background-size: 8px 11px;

    @include transition-property(transform);
    @include transition-duration(.2s);
  }

  &.submenu-open::after {
    @include transform(translateY(-50%) rotate(90deg));

  }
}

#cd-lateral-nav .socials {
  @include clearfix;
  padding: 0 32px;

  a {
    height: 32px;
    width: 32px;
    float: left;
    padding: 0;
    background-image: url('../img/cd-socials.svg');
    background-repeat: no-repeat;
    background-size: 128px 64px;
    background-color: #FFF;
    margin-right: .5em;
    @include border-radius;

    &.cd-twitter {
      background-position: 0 0;
    }

    &.cd-github {
      background-position: -32px 0;
    }

    &.cd-facebook {
      background-position: -64px 0;
    }

    &.cd-google {
      background-position: -96px 0;
    }

    .no-touch &:hover {
      background-color: $color-1;

      &.cd-twitter {
        background-position: 0 -32px;
      }

      &.cd-github {
        background-position: -32px -32px;
      }

      &.cd-facebook {
        background-position: -64px -32px;
      }

      &.cd-google {
        background-position: -96px -32px;
      }
    }
  }
}
