@import "foundation/components/top-bar";

/* mixins, variables, etc. */


$blue:rgba(134, 196, 208, 0.9); //#85c3cf
$red: rgba(232,110, 52, 0.9); //#e76e33 
$yellow: rgba(194, 203, 32, 0.9); //#c2ca20
$transpgray: rgba(0,0,0,0.7);
$light: 300;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/*~not sure if this is the right use of a mixin*/
@mixin selection {
  background: #404040;
  color: #FFF;  
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: 'Lato', sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;  
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: justify;
}
a {
  text-decoration: none;
  color:$red;
  &:hover {
    text-decoration: none;
    color: $yellow;
  }
}



/* header */

#logo {
  float: left;
  margin-right: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  &:hover {
    opacity: 0.8;
    transition: all 0.2s ease;
    -webkit-transition:background 0.2s ease;
    text-decoration: none;
  }
}

.contain-to-grid {
  background-color: $yellow;
}

$topbar-bg: $red;



.top-bar {
  border: none;
  
  li a {
    color: white;
    font-weight: $light;
    transition: all 0.2s ease;
    -webkit-transition:background 0.2s ease;
    &:hover {
      color: $red;
    }
  }
 .dropdown-menu {
  background-color: $yellow;
 } 
}

.btn {
  background-color: $red;
  border: 1px solid $yellow;
  transition: all 0.2s ease;
  -webkit-transition:background 0.2s ease;
  &:hover{
    background-color: $yellow;
    border: 1px solid $yellow;
  }
}

.landing {
  position: relative;
  overflow: hidden;
  height: 100%;
  background-repeat: no-repeat no-repeat;
  background-position: 0 0;
  background-color: gray;
  // background-image: url(image-path('redwoods.jpg'));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $red;
  a {
    color: gray;
    &:hover {
      color: gray;
    }
  }
  small {
    float: left;
  }
  ul {
    margin: 1em 0;
    float: right;
    list-style: none;
    li {
      margin-left: 15px;
      display: block;
    }
  }
}

.socialIcon {
  float: left;
  img{
    width: 4em;
  }
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: $state-danger-text;
//   }
// }
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/*~~~~~~~~*/


