<!-- Navigation -->
<nav id="slide-menu">
	<ul>
		<li class="timeline">Today</li>
		<li class="events">Values Challenge</li>
		<li class="calendar">Redwood Project Profile</li>
		<li class="sep settings">Settings</li>
		<li class="logout">Logout</li>
	</ul>
</nav>
<!-- Content panel -->
<div id="content">
	<div class="menu-trigger"></div>
	<h1><%= @user.name %>'s Redwood Project</h1>
	<h3>Growing Big starts here.</h3>
</div>